* {
    box-sizing: border-box;
}


/*Top div*/
.hero {
    overflow: hidden;
    background-color: #F4F6F5;
    

}

/*Header*/
#header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}




.main-paragraph {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-top: 2.5rem;
}

p {
    margin: 0px;
    padding-top: 0px;
    padding-left: 1rem;


}

/*Nav-bar*/
.nav-bar
{
   
    margin: 0px;
    padding: 0px;
    border: 0px;
    
}

ul {
    background-color: #dee0e4;
    list-style-type: none;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
    border: 0px;

}

li {
    float: right;
    padding: 1rem;
    
   
    
}


/**Add the lasagna page **/

/*
.picture-grid {
    display: grid;
    place-items: center;
}


img {
    bottom: 15%;
    position: absolute;
    animation-name: linear infinite;
    -webkit-animation-name: run;
    animation-duration: 40s;
}
@keyframes run {
    3% {
      left: 0;
    }
    50% { 
        left: calc(50% - 50px); 
       }
      100% {
        left: 0;     
      }

    3% {
        right: 0;
    }
  }

  */

  /*This is the css for the image gallaery*/
  h1 {
    text-align: center;
  }

  .slide-cover, .clickBtn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    flex: 0 2 auto;
  }

 